<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>801384036837-930m6t14p5qmiugln1a97el6i49opjug.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.801384036837-930m6t14p5qmiugln1a97el6i49opjug</string>
	<key>API_KEY</key>
	<string>AIzaSyCwIyNcUg5RrdlvdtROJwWBZOyaxjwuhfk</string>
	<key>GCM_SENDER_ID</key>
	<string>801384036837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yuri.Lab01</string>
	<key>PROJECT_ID</key>
	<string>lab01ar</string>
	<key>STORAGE_BUCKET</key>
	<string>lab01ar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:801384036837:ios:7260312369da9a29a5170c</string>
</dict>
</plist>